<!-- //- Jai Shree Ram -->
<!-- //- Jai Shree Ram -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icon.png">
    <title>Let's chat</title>
    <link rel="stylesheet" href="../static/style/signup.css">
</head>
<body>
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="confpassword">Confirm Password</label>
        <input type="text" name="confpassword" id="confpassword" required>
        <button id="signup">Sign up</button>
    </form>


</body>
</html>