//- Jai Shree Ram
extends base.pug
block style
    style 
        include ../style/signup.css
block scripts 
    script(src='../static/js/signup.js')

block body 
    div#form-container
        form#form(action="/" method='post')
            label(for="name") User name
            input#name(type="text", name="name")  
            label(for="email") Email
            input#email(type="email", name="email")  
            label(for="password") Password
            input#password(type="password", name="password")
            button#submit-btn Start chat 
