/* Jai Shree Ram */
.container{
    width: 95%;
    border: none;
}
#message-sender input{
    width: 70%;
    border: 2px solid black;
    /* margin-left: 50px; */
    padding: 10px;
    border-radius: 10px;
    margin-left: 0;
    font-weight: bold;
    outline: none;
    
}
#message-sender{
    /* border: 2px solid red; */
    width: 80%;
}